/**
 *
 * Definicoes para as tabelas
 * @author: WebEngineers - comercial@webengineers.com.br
 *
 */

table thead tr th, table tbody tr td { 
	padding:2px;
	text-align:center;
}

table tbody tr td.questao  {
	text-align:left;
}

table.report {
	margin-bottom:20px;
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
}

table tr td {
	border:1px solid #dfdfdf;
}

/* cor alternada da tabela */
tr.alternada {
	background-color:#F7F7F7;
	border-collapse:collapse;
}

/* centralizar os inputs do tipo radio */
td.td-centro {
	text-align:center;
}

th.th-centro {
	text-align:center;
	padding:1px;
}

div#tabela-servicos,
div#tabela-avaliacao { margin-bottom:5px; }

col.coluna-1 { width:350px; }

table tr.total { font-weight:bold; }
/* fim */
