/**
 *
 * Definicoes para confirmacao da pesquisa
 * @author: WebEngineers - comercial@webengineers.com.br
 *
 */

@import url(style.css);
 
div#confimacao p {
	margin-bottom:5px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

div#confimacao p.nome {
	margin-top:50px;	
}

div#confimacao p.img {
	margin:0 auto !important;
}