/**
 *
 * Definicoes para o conteudo
 * @author: WebEngineers - comercial@webengineers.com.br
 *
 */

div#content h2 {
	padding:2px 0 2px 2px;
	margin:0 0 5px 0;
}

/* margem no formulario */
div#form-content {	margin:4px 4px 0 4px; }

div#content p {	text-align:justify; }

div#content p.link { 
	background:url(images/bg-botao.jpg) repeat-x;
	border:1px solid #D9D9D9;
	margin:5px;
	padding:2px 5px 2px 2px;
	text-align:right;
}

div#content p.informativo  {
	margin:7px 7px 10px 7px;
	font-weight:normal;
}

div#informacoes {	 margin-top:20px; }

div#informacoes input, textarea, div.indicacao input, div.botoes input {
	margin:1px;
	padding:1px;
}

div.botoes input {
	margin:1px;
	padding:1px;
	font-weight:bold;
}

/* div inforamções, comentários */
div#informacoes, div#comentarios {
	margin-bottom:20px;
}

h1#title-admin {
	font-size:16px;
	text-align:center;
	margin:10px 0 15px 0;
}

div#footer {
	margin:0pt auto;
	width:62%;
}
div#footer p,
div#footer a {
	font-size:10px;
}

a { text-decoration:none; color:blue; }
a:hover { text-decoration:underline; }

/* login */

div#login { height:200px; }
div#login p { margin-bottom:20px; }
div#login input { 
	margin-left:45px; 
	width:200px;
	padding:2px;
}
div#login fieldset { 
	border:1px solid #A7A6AA;
	margin:0 auto;
	width:300px;
	margin-top:30px;
	padding-top:10px;
}
div#login legend { 
	margin:0 0 0 5px;
	font-weight:bold;
}
div#login label { 
	width:auto;
	padding-left:45px;
}
div#login input.btn-ok { 
	border:1px solid #A7A6AA;
	width:100px; 
	margin-left:0px;
}
div#login p.authentication-fail {
	color:red;
	margin:5px;
	padding-left:15px;
}

div#erro { height:381px; }

div#erro p.msg { 
	margin-top:50px;
	text-align:center;
	font-weight:bold;
}

div#erro p, p.link { text-align:center; }

p.link { margin-bottom:10px; }

div#graficos {
	padding: 5px;
	clear: both;
	text-align: center;
	height: 230px;
}
div#graficos h2 { text-align: left; }
div#graficos p {
	float: left;
	margin: 2px;
}

div#informacoes input { width:400px; }
