/**
 *
 * Definicoes para index.html
 * @author: WebEngineers - comercial@webengineers.com.br
 *
 */

p select  {
	margin-left:3px;
	width:177px;
}

p input  {
	margin-left:3px;
	width:170px;
}