/**
 *
 * Definicoes para index.html
 * @author: WebEngineers - comercial@webengineers.com.br
 *
 */

@import url(style.css);

fieldset {
	width:98.5%;
	margin:0 auto;
	margin-bottom:15px;
	border:1px solid #999;
}

form.filter p {
	margin-top:5px;
	float:left;
}

form.filter p label {
	padding-left:5px;
	width:60px;
}

legend {
	width:30px;
	margin-left:15px;
	font-weight:bold;
	padding:2px;
}

p select  {
	margin-left:3px;
	width:184px;
}

p input  {
	margin-left:3px;
	width:180px;
	padding:1px;
}

form.filter div.botoes {
	float:right;
	margin-right:7px;
}

div#tabelas,
div#dadosParticipante,
div#comentario {
	width:99%;
	margin:0 auto;
}

div#comentario p { 
	margin-bottom:15px;
}

div.dados {
	margin-bottom:20px;
	margin:5px;
}

div#dadosParticipante {
	margin:15px 0 15px 5px;
}

div#dadosParticipante p {
	margin:5px 0 5px 0;
}

div#dadosParticipante p input  {
	border:1px solid #fff;
	margin-left:3px;
}

col.coluna-1 {
	width:550px;
}